@model AspChat.Models.ChatRoom

<h4>В комнате сейчас @Model.ChatUsers.Count пользователей</h4>

<div>Напишите сообщение в чат:</div>
<input type="text" id="message" />
<input type="button" value="send" id="send" />

<div id='messages'>    
</div>

<script>
    // возвращает cookie с именем name, если есть, если нет, то undefined
    function getCookie(name) {
        var matches = document.cookie.match(new RegExp(
          "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }

    console.log("cookie value: ", getCookie('id'));

    var socket,
        $txt = document.getElementById('message'),
        $messages = document.getElementById('messages');

    if (typeof (WebSocket) !== 'undefined') {
        socket = new WebSocket("ws://simplersvpapp.com/ChatHandler.ashx");
    } else {
        alert("Связь здесь не работает!");
    }

    socket.onmessage = function (msg) {
        var $el = document.createElement('p');
        $el.innerHTML = msg.data;
        $messages.appendChild($el);
    };

    socket.onclose = function (event) {
        alert('Мы потеряли её. Пожалуйста, обновите страницу');
    };

    document.getElementById('send').onclick = function () {
        socket.send('[Здесь имя юзера] : ' + $txt.value);
        $txt.value = '';
    };
</script>