@import "reset";
@import "../../values";

body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: @bodyBackground;
}

.header {
    position: relative;
    height: @header-height;
    background-color: @headerBackground;
}

.chatLabel {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 200px;
    font-size: 16px;
    font-weight: 700;
    color: @headerTextColor;
    letter-spacing: 1px;
    transform: translateY(-50%);
}
