packages/
AspChat/bin
AspChat/obj
AspChat.sln.DotSettings.user
AspChat/Properties/PublishProfiles/
AspChat.v12.suo

AspChat/node_modules
AspChat/Client/output/index.js
AspChat/Client/output/main.css
