.chatMessageInput {
    position: absolute;
    bottom: 0;
    width: 550px;
    height: 64px;
    background-color: #fafbfc;
    border-top: 1px solid #e3e4e8;
}

.messageTextBox {
    width: 436px;
    height: 26px;
    padding: 9px 0 0 13px;
    margin: 12px 0 0 56px;
    font-family: Tahoma, Geneva, sans-serif;
    resize: none;
    border-color: #d3d9de;
    border-radius: 3px;
}
