@import url("./reset.css");

.body {
    width: 100%;
    height: 100vh;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #edeef0;
}

.header {
    position: relative;
    height: 41px;
    background-color: #507299;
}

.userSessionArea {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 230px;
    color: #fff;
    transform: translateY(-50%);
}

.userName {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
}

.userMenuArrowWrapper {
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 7px;
}

.userMenuArrow {
    width: 0;
    height: 0;
    border-top: 5px solid #9eb1c6;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.chatRoom {
    position: relative;
    width: 550px;
    height: calc(100vh - 41px - 15px - 15px);
    margin: 15px auto 0;
    background-color: #fff;
    border: 1px solid #e3e4e8;
    border-radius: 2px;
}

.chatRoomHeader {
    height: 46px;
    border-bottom: 1px solid #e3e4e8;
}
