.chatMessageView {
    width: 533px;
    font-size: 13px;
}

.chatMessageView:first-child {
    margin-top: 12px;
}

.chatMessageView:last-child {
    margin-bottom: 12px;
}

.chatUserNameStyle {
    padding: 6px 82px 2px;
    font-weight: 600;
    color: #42648b;
}

.chatMessageStyle {
    padding: 0 65px 10px 82px;
    line-height: 18px;
}
