.userSessionArea {
    position: absolute;
    top: 11px;
    right: 0;
    margin-right: 230px;
    font-size: 12px;
    color: #fff;
}

.userName {
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px;
    font-weight: 700;
    border-right: 1px solid #fff;
}

.logOutForm {
    display: inline-block;
}

.chatRoom {
    position: relative;
    width: 550px;
    height: calc(100vh - 41px - 15px - 15px);
    margin: 15px auto 0;
    background-color: #fff;
    border: 1px solid #e3e4e8;
    border-radius: 2px;
}

.chatRoomHeader {
    height: 46px;
    border-bottom: 1px solid #e3e4e8;
}
